.background {
  display: flex;
  background-color: #1F214D;
  height: max-content;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 100px;
}

.second-background {
  width: 90vw;
  max-width: 1200px;
  height: 5000px;
  flex-direction: column;
  border-radius: 10px;
}

.navbar {
  width: 100%;
  align-items: center;
}

.navbar-brand {
  width: 100%;
  font-family: Cabin, sans-serif;
  color: rgb(31, 33, 77);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}


.heading-one {
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.heading-two {
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 36px;
  color: white;
  text-align: center;
}

.body-text {
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  color: white;
  text-align: left;
}

.caption-text {
  font-size: 20px;
  color: black;
  text-align: justify;
  padding-bottom: 20px;
}


.pie-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-chart {
  max-height: 500px;
  width: auto;
}

.responses { 
  width: 50%;

}

.section-four {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}


@media only screen and (max-width: 1000px) {
  /* For mobile: */
  .section-two-container{
    height: 500px;
  }
  .heading-two {
    font-size: 30px;
  }
  .heading-one {
    font-size: 40px;
  }
  .responses {
    width: 100%;
  }
}