.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.hero-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F214D;
    padding-right: 5%;
    padding-left: 5%;
    height: 100vh;
}

.hero-section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1F214D;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 20%;
    padding-right: 20%;
}

.body-text-black {
    font-family: 'Inter', serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.logo {
    max-height: 400px;
}

.respondent-photo {
    width: 100px;
    border: white;
    border-width: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    max-width: 300px;
    background: linear-gradient(0deg, rgba(31, 33, 77, 0) 0.19%, rgba(42, 98, 217, 0.33) 21.89%, rgba(99, 138, 219, 0.75) 99.39%, rgba(23, 51, 108, 0) 99.4%);
}

.intro-text {
    padding-top: 40px;
    max-width: 1000px;
    text-align: center;
}

.respondents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
}

.respondent-plus-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px;
}

@media only screen and (max-width: 1000px) {
    /* For mobile: */
    .img{
      width: 50px;
    }
    .logo {
        width: 90vw;
    }
    .respondent-photo {
        width: 50px;
    }
    .body-text-black {
        font-size: 15px;
    }
    .hero-section-one {
        padding-left: 20px;
        padding-right: 20px;
    }
  }