.navigation-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    padding: 20px;
    background-color: white;
    align-items: center;
    text-align: center;
}

.box-one {
    flex: 2;
    flex-wrap: wrap;
}

.box-two {
    flex: 1;
    min-width: max-content;
    padding: 10px;
    flex-wrap: wrap;
}

.box-three {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    min-width: max-content;
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .navigation-container {flex-direction: column;}
    .box-three {flex-direction: column;}
  }